nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.active {
color: darkgreen;
font-weight: bold;
}

.pizzaCarrito {
  height: 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}